{{#if posts.length}}
<section class="dashboard">
    <h2>Your Posts</h2>
    {{#each posts as |post|}}
        
        {{/each}}
</section>
{{/if}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>